<div class="page-header" style="padding:10px 20px;margin:-18px 0px 0px">
    <input type="button" id="deliveryBtn" class="btn btn-default"
           th:if="${order.orderStatus==1}" value="发货"/>
    <input type="button" id="cancleBtn" class="btn btn-default"
           th:if="${order.orderStatus}&gt;0" value="作废"/>
    <input type="hidden" th:value="${order.orderId}" name="id"/>
</div>
<form id="submitForm" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">订单信息</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        订单号：<span th:text="${order.orderSn}"></span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-pills bs-tabdrop-example">
                                <!--<li class="active"><a href="#bs-tabdrop-pill1" data-toggle="tab">基本信息</a></li>-->
                                <!--<li><a href="#bs-tabdrop-pill6" data-toggle="tab">物流信息</a></li>-->
                            </ul>
                            <div class="tab-content">
                                <!-- 基本信息 -->
                                <div th:include="spell/order/info::info" id="bs-tabdrop-pill1" class="tab-pane active"></div>
                                <!-- 物流信息 -->
                                <!--<div th:include="spell/order/logi::logi" id="bs-tabdrop-pill6" class="tab-pane"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function (){
        var resp=[[${logisticMap}]];
        if(typeof resp!='undefined' && resp!=null){
            var logiName = document.getElementById("logiNameInput").value;
            var respData=JSON.parse(resp.resp);
            $("#logisUl").append('<li class="active">'+logiName+'</li><br></br><li class="active">运单号：'+respData.nu+'</li><br></br>');
            if(respData.data != null && respData.data.length>0){
                $(respData.data).each(function(index, item){
                    var html='<li class="active"><span>◯</span><span>'+item.time+'</span><br/>&nbsp;&nbsp;&nbsp;&nbsp;<span>'+item.context+'</span></li><br/>';
                    $("#logisUl").append(html);
                });
            }
        }else{
            var html = '<li class="active">暂无物流信息</li>';
            $("#logisUl").append(html);
        }
    })

    //发货
    $("#deliveryBtn").click(function(){
        var order_id=$("[name='id']").val();
        if(typeof order_id=='undefined' || order_id=='')
            $.Mod.Close("获取订单ID失败","error");
        showModal('订单发货', '/admin/spell/order/delivery/'+order_id, 460);
    });


    $("#cancleBtn").click(function(){

        var order_id=$("[name='id']").val();
        if(typeof order_id=='undefined' || order_id=='')
            $.Mod.Close("获取订单ID失败","error");
        var url=_urlPath+"admin/bargain/order/cancleOrder/"+order_id;
        $.ajax({
            url: url,
            type: "post",
            dataType:"json",
            success: function (req){
                if (req.retcode == 0) {
                    $.Mod.Close("订单己作废...");
                    goPage("bargain/order/main");
                } else {
                    $.Mod.Close(req.retmsg,"error");
                }
            }
        });
    });
    /*]]>*/
</script>