<div th:fragment="info" class="tab-pane active" id="bs-tabdrop-pill1" style="width: 100%">
	<!-- 订单信息 -->
	<div class="col-sm-2">
		<div class="panel-group panel-group-info">
			<div class="panel">
				<div class="panel-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#orderInfoDiv">
						订单信息
					</a>
				</div> 
				<div id="orderInfoDiv" class="panel-collapse in">
					<div class="panel-body">
						<table class="table-condensed" style="padding: unset; margin: unset">
		                	<tr class="active" th:switch="${order.orderStatus}">
		                		<td class="text-right">订单状态：</td>
		                		<td th:case="-9">己作废</td>
						  		<td th:case="1">己完成标靶订单</td>
						  		<td th:case="2">已付款,待分配</td>
						  		<td th:case="3">已分配,待确定</td>
						  		<td th:case="4">配货中</td>
						  		<td th:case="5">部分发货</td>
		                		<td th:case="6">已发货,待收货</td>
						  		<td th:case="7">已收货</td>
						  		<td th:case="8">已完成</td>
		                	</tr>
		                    <tr class="active" th:switch="${order.payStatus}">
		                    	<td class="text-right">支付状态：</td>
						  		<td th:case="0">未付款</td>
						  		<td th:case="1">已付款</td>
						  		<td th:case="2">已退款</td>
						  		<td th:case="3">部分退款</td>	                    
		                    </tr>
		                    <tr class="active"><td class="text-right">支付方式：</td><td th:text="${order.paymentName}"></td></tr>
		             		<tr class="active"><td class="text-right">支付时间：</td><td th:if="${order.paymentDate!=null}" th:text="${#dates.format(order.paymentDate, 'yyyy-MM-dd')}"></td></tr>
		             		<tr class="active">
		             			<td class="text-right">支付时间：</td>
		             			<td th:if="${order.paymentDate!=null}" th:text="${#dates.format(order.paymentDate, 'yyyy-MM-dd')}" />
		             			<td th:if="${order.paymentDate==null}" th:text="获取下单时间失败" />
		             		</tr>
		             	</table>
					</div> 
				</div> 
			</div>
		</div>
	</div>
	<!-- 订单价格 -->
	<div class="col-sm-2">
		<div class="panel-group panel-group-info">
			<div class="panel">
				<div class="panel-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#orderAmountDiv">
						订单价格
					</a>
				</div> 
				<div id="orderAmountDiv" class="panel-collapse in">
					<div class="panel-body">
						<table class="table-condensed" style="padding: unset; margin: unset">
		                	<tr class="active"><td class="text-right">商品总额：</td><td th:text="${order.goodsAmount}"></td></tr>
		                    <tr class="active"><td class="text-right">优惠金额：</td><td th:text="${order.goodsAmount}-${items.targetPrice}"></td></tr>
		                    <tr class="active"><td class="text-right">配送费用：</td><td th:text="${order.shipAmount}"></td></tr>
		                    <tr class="active"><td class="text-right">订单总额：</td><td th:text="${order.orderAmount}"></td></tr>
		                    <tr class="active"><td class="text-right">支付金额：</td><td th:text="${order.payAmount}"></td></tr>
		             	</table>
					</div> 
				</div> 
			</div>
		</div>
	</div>
	<!-- 用户信息 -->
	<div class="col-sm-2">
		<div class="panel-group panel-group-info">
			<div class="panel">
				<div class="panel-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#memberInfoDiv">
						用户信息
					</a>
				</div> 
				<div id="memberInfoDiv" class="panel-collapse in" >
					<div class="panel-body" th:if="${member!=null}">
						<table class="table-condensed" style="padding: unset; margin: unset">
							<tr class="active"><td class="text-right">用户ID：</td><td th:text="${member.memberId}"></td></tr>
                        	<tr class="active"><td class="text-right">用户名：</td><td th:text="${member.uname}"></td></tr>
                          	<tr class="active"><td class="text-right">姓　名：</td><td th:text="${member.name}"></td></tr>
                          	<tr class="active"><td class="text-right">昵称：</td><td th:text="${member.nickname}"></td></tr>
                            <tr class="active"><td class="text-right">手机号：</td><td th:text="${member.mobile}"></td></tr>
                            <tr class="active"><td class="text-right">Email：</td><td th:text="${member.email}"></td></tr>
                            <!--<tr class="active" th:if="${order.orderType==1}"><td class="text-right">真实姓名：</td><td th:text="${order.memberRealName}"></td></tr>-->
                            <!--<tr class="active" th:if="${order.orderType==1}"><td class="text-right">身份证：</td><td th:text="${order.memberCardId}"></td></tr>-->
                        </table>									
					</div> 
				</div> 
			</div>
		</div>
	</div>
	
	<!-- 收货人信息 -->					
	<div class="col-sm-2">
		<div class="panel-group panel-group-info">
			<div class="panel">
				<div class="panel-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-info-example" href="#shipInfoDiv">
						收货人信息
					</a>
				</div> 
				<div id="shipInfoDiv" class="panel-collapse in">
					<div class="panel-body">
						<table class="table-condensed" style="padding: unset; margin: unset">
		               		<tr class="active"><td class="text-right" >姓名：</td><td th:text="${order.shipName}"></td></tr>
		                    <tr class="active"><td class="text-right" >电话：</td><td th:text="${order.shipTel}"></td></tr>
		                    <tr class="active"><td class="text-right">手机号：</td><td th:text="${order.shipMobile}"></td></tr>
		                    <tr class="active"><td class="text-right">地区：</td><td th:text="${order.shipProvinceName}+'-'+${order.shipCityName}+'-'+${order.shipDistrictName}"></td></tr>
		                    <tr class="active"><td class="text-right">详细地址：</td><td th:text="${order.shipAddress}"></td></tr>
		                    <tr class="active"><td class="text-right">邮编：</td><td th:text="${order.shipZip}"></td></tr>
		             	</table>
					</div> 
				</div> 
			</div>
		</div>
	</div>
	
	<!-- 商品列表 -->
	<div class="col-sm-10">
		<div class="table-info">
			<div class="table-header">
				<div class="table-caption">
					砍价商品
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>货号</th>
						<th>商品名称</th>
						<th>规格</th>
						<th>价格</th>
						<th>合计</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${goods!=null}">
						<td th:text="${goods.goodsSn}"></td>
						<td ><a target="_blank" th:href="|http://wx.cheertea.com/#/goods/detail?goodsId=${goods.goodsId}|" th:text="${goods.name}"></a></td>
						<td th:text="${goods.specs}"></td>
						<td th:text="${goods.price}"></td>
						<td th:text="${items.targetPrice}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
