<form id="submitForm" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-8">
            <div class="checkbox" style="display: inline-block">
                <label>
                    <input type="checkbox" class="all_selected"/>
                    <span class="lbl">全选</span>
                </label>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="checkbox" style="display: inline-block" th:each="province:${provinceList}">
                <label>
                    <input type="checkbox" name="spec" class="pxx" th:value="${province.addressId}"/>
                    <span class="lbl" th:text="${province.addressName}">北京</span>
                </label>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var postion = $("input[class='panel_position']").attr("position");
    //console.log(postion);
    submit = function(){
        var provinceLabels = "";
        var provinceIds = "";
        $.each($("input[type='checkbox'][class='pxx']:checked"),function(){
            if($(this).attr("disabled")!='disabled'){
                provinceLabels += $(this).siblings("span").html() + ","
                provinceIds += $(this).val() + ",";
            }
        });
        $("#"+postion+"").empty();
        $("#"+postion+"").append(provinceLabels.substr(0,provinceLabels.length-1));
        var oldProvinceIds = $("#"+postion+"_ProvinceIds").val();
        var newProvinceIds = provinceIds.substr(0,provinceIds.length-1);
        //console.log("newProvinceIds===" + newProvinceIds);
        //console.log("provinceLabels===" + provinceLabels);
        $("#"+postion+"_ProvinceIds").val(newProvinceIds);
        $("#"+postion+"_ProvinceNames").val(provinceLabels.substr(0,provinceLabels.length-1));
        //$("#usedProvinceIds").val(provinceIds.substr(0,provinceIds.length-1))
        var usedProvinceIdArr = [];
        var usedProvinceIds = $("#usedProvinceIds").val();
        if(typeof usedProvinceIds != 'undefined' && usedProvinceIds !='' && usedProvinceIds != null){
            usedProvinceIdArr = arrayTools.strToArr(usedProvinceIds);
            console.log("usedProvinceIdArr==" + usedProvinceIdArr);
        }
        if(typeof oldProvinceIds != 'undefined' && oldProvinceIds !='' && oldProvinceIds != null){
            var oldProvinceIdArr = arrayTools.strToArr(oldProvinceIds);
            for(var i in oldProvinceIdArr){
                arrayTools.removeFromArr(usedProvinceIdArr, oldProvinceIdArr[i]);
            }
        }
        if(typeof newProvinceIds != 'undefined' && newProvinceIds !='' && newProvinceIds != null){
            var newProvinceIdArr = arrayTools.strToArr(newProvinceIds);
            for(var i in newProvinceIdArr){
                usedProvinceIdArr.push(newProvinceIdArr[i]);
            }
        }
        $("#usedProvinceIds").val(arrayTools.arrayToStr(usedProvinceIdArr));
        $(".close").click();
    }

    $(function (){
        //全选操作
        $(".all_selected").on("click",function () {
            if($(this).is(':checked')){
                $.each($("input[type='checkbox'][class='pxx']"),function(){
                    $(this).prop("checked", true);
                });
            } else {
                $.each($("input[type='checkbox'][class='pxx']"),function(){
                    $(this).prop("checked", false);
                });
            }
        })
    });

    var arrayTools ={

        /*数组转为字符串，用逗号隔开*/
        arrayToStr: function arrayToStr(arr) {
            var str = "";
            for(var i in arr)
                str += arr[i] + ",";
            str = str.substr(0,str.length-1);
            return str;
        },

        /*字符串转为数组，用逗号切割*/
        strToArr: function strToArr(str) {
            var arr = [];
            if(str.indexOf(",") > -1)
                arr = str.split(",");
            else
                arr.push(str)
            return arr;
        },
        /*往数组中添加元素*/
        pushToArr: function pushToArr(arr, obj) {
            if(Array.isArray(arr)){
                if(arr.length == 0){
                    arr.push(obj);
                } else {
                    for(var i in arr){
                        if(arr[i] == obj){
                            break;
                        }
                        if(i == arr.length - 1){
                            arr.push(obj);
                        }
                    }
                }
                return arr;
            }
        },
        /*是否存在于数组中*/
        isInArr: function isInArr(arr, obj) {
            if(Array.isArray(arr)){
                if(arr.length == 0){
                    return false;
                } else {
                    for(var i in arr){
                        if(arr[i] == obj){
                            return true;
                        }
                        if(i == arr.length - 1){
                            return false;
                        }
                    }
                }
                return false;
            }
        },
        /*往数组中移除元素*/
        removeFromArr: function removeFromArr(arr, obj) {
            if(Array.isArray(arr)){
                var index = arr.indexOf(obj);
                if(index > -1){
                    arr.splice(index, 1);
                }
                return arr;
            }
        },
        /*清空数组*/
        arrEmpty: function arrEmpty(arr){
            if(Array.isArray(arr)){
                arr.splice(0,arr.length);
            }
        }
    }

    init.push(function () {
        arrayTools.init();
    });

    //初始化
    var usedProvinceIds = $("#usedProvinceIds").val();
    var selectedProvinceIdArr = [];
    var selectedProvinceIds = $("#"+postion+"_ProvinceIds").val();
    //console.log("selectedProvinceIds====" + selectedProvinceIds);
    if(typeof usedProvinceIds != 'undefined' && usedProvinceIds !='' && usedProvinceIds != null ){
        var usedProvinceIdArr = arrayTools.strToArr(usedProvinceIds);
        for(var i in usedProvinceIdArr){
            //使用过的设置选中
            $("input[type='checkbox'][value='"+usedProvinceIdArr[i]+"']").attr("checked","checked");
        }
        //console.log("usedProvinceIdArr==" + usedProvinceIdArr);
        if(typeof selectedProvinceIds != 'undefined' && selectedProvinceIds !='' && selectedProvinceIds != null ){
            selectedProvinceIdArr = arrayTools.strToArr(selectedProvinceIds);
        }
        //遍历所有选中的checkbox  判断是否在当前为panel选中
        for(var i in usedProvinceIdArr){
            //alert(arrayTools.isInArr(selectedProvinceIdArr, usedProvinceIdArr[i]));
            if(arrayTools.isInArr(selectedProvinceIdArr, usedProvinceIdArr[i])){
                $("input[type='checkbox'][value='"+usedProvinceIdArr[i]+"']").attr("disabled", false);
            } else{
                $("input[type='checkbox'][value='"+usedProvinceIdArr[i]+"']").attr("disabled", true);
            }
        }
    }
    /*]]>*/
</script>