<form class="form-horizontal" role="form" id="resetFrm">
  	<input type="hidden" th:value="${role.roleId}" id="roleId"/>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="cname">角色名称</label>
		<div class="col-sm-8">
            <input class="form-control" type="text" th:value="${role.cname}" name="cname"/>
        </div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="ids">用户设置</label>
		<div class="col-sm-8">
			<select multiple="multiple" size="${#lists.size(userList)}" name="ids" id="ids">
		  		<option th:each="user:${userList}" th:if="${user.roleId!=99}" th:value="${user.id}" th:text="${user.username}" 
		  		th:selected ="${1 == user.status}?true:false"/>
			</select>
		</div>
	</div>
</form>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	jQuery(function($){
	    $("select[name='ids']").bootstrapDualListbox({
	    	moveAllLabel: "全部选中",
	    	removeAllLabel: "全部移除",
	    	infoTextEmpty: "没有记录",
	    	infoText: "{0}条记录",
	    	selectedListLabel: "已拥有用户",
	    	nonSelectedListLabel: "未拥有用户",
	    	showFilterInputs: false,
	    	filterPlaceHolder: "过滤",
	    	selectorMinimalHeight: 200,
	    	infoTextFiltered: "<span class='label label-purple label-lg'>Filtered</span>"
	    });
	});
	submit = function(){
		var data = "roleId=" + $("#roleId").val() + "&ids=";
		var ids = $("#ids").val();
		if(null != ids){
			data += ids;
		}
		ajaxRequest("/admin/role/bindUser", data);
	}
	/*]]>*/
</script>