<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyy.jyshop.dao.EnsureTemplateDao">

	<select id="selectTemplateByParams" resultType="map">
		SELECT
		  a.`id` AS id,
		  a.`template_name` AS templateName,
		  a.`create_time` AS createTime,
		  GROUP_CONCAT(
		    c.`tag_name`
		    ORDER BY c.`tag_order` SEPARATOR '|'
		  ) AS tagNames
		FROM
		  shop_ensure_template a
		  LEFT JOIN shop_ensure_template_tag_rel b
		    ON a.`id` = b.`template_id`
		  LEFT JOIN shop_ensure_tag c
		    ON b.`tag_id` = c.`id`
		GROUP BY a.`id`,
		  a.`template_name`
		  ORDER BY a.`create_time` DESC
	</select>
</mapper>