<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyy.jyshop.dao.FloorRelDao">


	<select id="queryGoodsCatListByParentId" resultType="map">
		SELECT
		  t3.`name`,
		  t3.`image`,
		  t1.`floor_id` as floorId
		FROM
		  shop_floor t1
		  LEFT JOIN shop_floor_rel t2
		    ON t1.`floor_id` = t2.`floor_id`
		  LEFT JOIN shop_goods_cat t3
		    ON t2.`rel_id` = t3.`cat_id`
		WHERE t1.`parent_id` = #{floorId}
		  AND t1.`floor_type` = 1
		  AND t2.`fr_id` IS NOT NULL
		ORDER BY t1.`floor_id` ASC,
		  t2.`fr_order` ASC
	</select>
	<select id="queryGoodsListByParentIds" resultType="map">
		SELECT
		  t3.`name`,
		  t3.`image`,
		  t3.`price`,
		  t3.`mktprice`,
		  t1.`floor_id` as floorId
		FROM
		  shop_floor t1
		  LEFT JOIN shop_floor_rel t2
		    ON t1.`floor_id` = t2.`floor_id`
		  LEFT JOIN shop_goods t3
		    ON t2.`rel_id` = t3.`goods_id`
		WHERE t1.`parent_id` = #{floorId}
		  AND t1.`floor_type` = 2
		  AND t2.`fr_id` IS NOT NULL
		ORDER BY t1.`floor_id` ASC,
		  t2.`fr_order` ASC
	</select>
	
	
	
	
	<select id="queryFloorGoodscatListByFloorId" resultType="map">
		SELECT
		  t2.name AS catName,
		  t2.`image` AS catImage,
		  t1.`fr_id` AS frId,
		  t1.`floor_id` AS floorId,
		  t1.`rel_id` AS relId,
		  t1.`desc`
		FROM
		  shop_floor_rel t1
		  LEFT JOIN shop_goods_cat t2
		    ON t1.`rel_id` = t2.`cat_id`
		  where t1.floor_id = #{floorId}
		  order by t1.fr_order asc
	</select>
	<select id="queryFloorGoodsRel" resultType="map">
		SELECT
		  t2.`goods_id` AS goodsId,
		  t2.`name` AS name,
		  t2.`image` AS image,
		  t1.`fr_id` AS frId,
		  t1.`floor_id` AS floorId,
		  t1.`rel_id` AS relId,
		  t1.`desc`
		FROM
		  shop_floor_rel t1
		  LEFT JOIN shop_goods t2
		    ON t1.`rel_id` = t2.`goods_id`
		  where t1.floor_id = #{floorId}
		  order by t1.fr_order asc
	</select>
	
	
	<select id="queryFloorGoodsListByFloorId" resultType="map">
		SELECT
		  t2.`name` AS goodsName,
		  t2.`image` AS goodsImage,
		  t1.`fr_id` AS frId,
		  t1.`floor_id` AS floorId,
		  t1.`rel_id` AS relId,
		  t1.`desc`
		FROM
		  shop_floor_rel t1
		  LEFT JOIN shop_goods t2
		    ON t1.`rel_id` = t2.`goods_id`
		where t1.floor_id = #{floorId}
		 order by t1.fr_order asc
	</select>
	
	
	<select id="queryFloorGoodsCatRel" resultType="map">
		SELECT
		  t2.`cat_id` AS catId,
		  t2.`cat_path_name` AS catName
		FROM
		  shop_floor_rel t1
		  LEFT JOIN shop_goods_cat t2
		    ON t1.`rel_id` = t2.`cat_id`
		WHERE t1.floor_id = #{floorId}
		 ORDER BY t1.fr_order ASC
	</select>
	<select id="queryGoodsCatList" resultType="map">
		SELECT
		  t1.`cat_id` AS catId,
		  t1.`cat_path_name` AS catName
		FROM
		  shop_goods_cat t1
		WHERE <!-- t1.cat_levle = 3 --> length(t1.cat_code)=9
		 ORDER BY t1.cat_code ASC
	</select>
	
	<!-- 批量添加 -->
	<insert id="batchInsert">
		insert into shop_floor_rel(`floor_id`, `rel_id`,`desc`,`fr_order`) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.floorId}, #{item.relId}, #{item.desc}, #{item.frOrder})
		</foreach>
	</insert>
	
	<delete id="deleteByFloorId">
		delete from shop_floor_rel where floor_id = #{floorId}
	</delete>
	
	<!-- 批量删除 -->
    <delete id="deleteByFloorIds">
        delete from shop_floor_rel where floor_id in
        <foreach item="floorId" collection="list" open="(" separator="," close=")">
            #{floorId}
        </foreach>
    </delete>
</mapper>